$primary: #7f37e1;
$blue: aliceblue;
$darkblue: #7f37e1;
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
html,
body {
  height: 100%;
  overflow-y: hidden;
}

.none {
  visibility: hidden;
}

.navbar {
  background-color: $darkblue;
  color: aliceblue;
  display: flex;
  width: 100%;
  height: 7vh;
  .title {
    .logo {
      background-image: url('./assets/Premier_League-Logo.wine.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
      background-position-y: center;
      background-attachment: initial;
      background-origin: initial;
      background-color: initial;
      height: 90%;
      width: 150px;
    }
    display: flex;
    width: 40%;
    justify-content: left;
    vertical-align: middle;
    text-align: center;
    h2 {
      font-weight: normal;
      font-size: 48px;
      margin-right: 60px;
    }
  }
  .navigation {
    margin-right: 0px;
    width: 65%;
    height: 90%;
    background-color: $darkblue;
    display: flex;
    justify-content: flex-end;
    vertical-align: bottom;
    a {
      color: aliceblue;
      padding-top: 12px;
      padding-right: 10px;
    }
    .navlink {
      margin-top: 20px;
      font-size: 30px;
      margin: 10px;
      white-space: nowrap;
      text-decoration: none;
    }
  }
}

.active {
  font-weight: bold;
}

.background {
  background-color: white;
  display: flex;
  width: 100%;
  height: 88vh;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  .homePage {
    display: flex;
    flex-direction: column;
    height: 95%;
  }
  .page {
    background-color: $blue;
    width: 95%;
    display: flex;
    height: 95%;
    .title {
      width: 100%;
      height: 8%;
      display: flex;
      align-items: flex-start;
      h1 {
        color: black;
        margin: 8px;
        margin-left: 10px;
        text-decoration: none;
        font-weight: normal;
      }
    }
    .homeContent {
      width: 100%;
      height: 100%;
      display: flex;
      .homeLeft {
        width: 50%;
        height: 93%;
        display: flex;
      }
      .fixturePage {
        width: 50%;
        height: 93%;
        display: flex;
        flex-direction: column;
      }
      .playerList {
        height: 92%;
        width: 50%;
        display: flex;
        flex-direction: column;
        .list {
          height: 50%;
          width: 100%;
        }
        .listHolder {
          display: flex;
          justify-content: center;
          height: 100%;
          ul {
            color: aliceblue;
            border-radius: 5px;
            width: 98%;
            height: 78%;
            overflow-y: scroll;
            .listHeader {
              width: 100%;
            }
            li {
              margin: 0;
              border: solid 1px black;
              background-color: aqua !important;
            }
          }
        }
      }
    }
  }
}
.homeLeftDisplay {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  .title {
    width: 100%;
    h1 {
      color: $darkblue;
    }
  }
  .topScorers {
    height: 40%;
    h1 {
      color: $darkblue;
    }
    .carousel {
      height: 100%;
      width: 100%;
      .carousel-root {
        height: 85%;
        padding-left: 20%;
        padding-right: 20%;
        .carouselContent {
          margin-top: 20px;
          align-self: center;
          box-shadow: 2px 2px $darkblue;
          height: 210px;
          width: 100%;
          display: flex;
          border: solid 4px $darkblue;
          color: $darkblue;
          border-radius: 15px;
          background-image: linear-gradient(135deg, aliceblue 0%, #e8dcfa 100%);
          .carouselLeft {
            width: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 95%;
            .image {
              height: 80%;
              width: 80%;
              background-repeat: no-repeat;
              background-size: contain;
              background-position-x: center;
              background-position-y: center;
              background-attachment: initial;
              background-origin: initial;
              background-color: initial;
            }
          }
          .carouselRight {
            width: 55%;
            display: flex;
            flex-direction: column;
            .name {
              width: 100%;
              display: flex;
              height: 30%;
              h1 {
                color: $darkblue;
                width: 80%;
                font-size: 1.7rem;
                align-self: center;
                text-align: left;
                padding-top: 25px;
              }
              .logoHolder {
                width: 20%;
                display: flex;
                height: 100%;
                .teamLogo {
                  margin-top: 10px;
                  width: 100%;
                  height: 100%;
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position-x: center;
                  background-position-y: center;
                  background-attachment: initial;
                  background-origin: initial;
                  background-color: initial;
                }
              }
            }
            .stats {
              height: 65%;
              display: flex;
              text-align: left;
              .leftStats {
                text-align: left;
                align-items: flex-start;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding-left: 5px;
                h2 {
                  font-weight: normal;
                  font-size: 1.3rem;
                }
              }
              .rightStats {
                @extend .leftStats;
              }
            }
          }
        }
      }
    }
  }
  .leagueTable {
    height: 55%;
    display: flex;
    width: 100%;
    flex-direction: column;
    .homeTitle {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      h1 {
        margin-left: 10px;
        color: $darkblue;
      }
    }
    .tableHolder {
      height: 95%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .table {
        height: 93%;
        width: 90%;
        display: flex;
        flex-direction: column;
        .listHeader {
          width: 98%;
          height: 10%;
          .MuiList-root {
            margin: 0 !important;
            padding: 0 !important;
            .MuiListItem-root {
              border: none;
              background-color: transparent;
              color: black;
            }
          }
        }
        .listHolder {
          overflow-y: scroll;
          height: 90%;
        }
        li {
          border: solid 2px $darkblue;
          justify-content: space-between !important;
          color: black;
          text-align: center;
          align-items: center !important;
          padding: 2px;
          div {
            width: 3.5rem;
            height: 4.5vh;
            margin-bottom: 2px;
            span {
              font-size: 1.2rem;
            }
          }
        }
        .MuiListItemAvatar-root {
          height: 100%;
          .MuiAvatar-root {
            overflow: visible;
            height: 100%;
            img {
              height: 100%;
              width: 100%;
              padding: 1px;
            }
          }
        }
      }
    }
  }
}

.accountPage {
  display: flex;
  flex-direction: column;
  .title {
    width: 100%;
  }
  .accountDisplay {
    height: 100%;
    display: flex;
    justify-content: center;
    .login {
      border: solid 4px $darkblue;
      border-radius: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      height: 50%;
      justify-content: center;
      form {
        width: 60%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        input {
          margin: 10px;
          width: 75%;
          height: 25px;
          max-width: 600px;
          border-radius: 10px;
          padding: 5px;
        }
        button {
          width: 30%;
          font-size: 20px;
          max-width: 150px;
          background-color: $darkblue;
          color: aliceblue;
          border-radius: 15px;
          padding: 5px;
          &:hover {
            border: solid 2px black;
            cursor: pointer;
          }
        }
      }
      .loginError {
        border: solid 2px red;
      }
    }
    .loggedIn {
      border: solid 4px $darkblue;
      border-radius: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      height: 20%;
      justify-content: center;
      h2 {
        font-size: 36px;
      }
      button {
        width: 25%;
        font-size: 20px;
        max-width: 150px;
        background-color: $darkblue;
        color: aliceblue;
        border-radius: 15px;
        padding: 10px;
        margin-top: 10px;
        &:hover {
          border: solid 2px black;
          cursor: pointer;
        }
      }
    }
    .newUser {
      align-items: center;
      text-align: center;
      margin-top: 40px;
      display: flex;
      height: 30%;
      flex-direction: column;
      justify-content: space-around;
      width: 40%;
      button {
        width: 100%;
        font-size: 20px;
        max-width: 150px;
        background-color: $darkblue;
        color: aliceblue;
        border-radius: 15px;
        padding: 10px;
        &:hover {
          border: solid 2px black;
          cursor: pointer;
        }
      }
    }
  }
}

.signupPage {
  display: flex;
  background-color: red;
  flex-direction: column;
  align-items: center;
  .title {
    width: 100%;
    padding: 5px;
    h2 {
      padding: 5px;
    }
  }
  .signup {
    border: solid 4px $darkblue;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 30%;
    justify-content: center;
    form {
      width: 60%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      input {
        margin: 10px;
        width: 100%;
        height: 25px;
        max-width: 600px;
        border-radius: 10px;
        padding: 5px;
      }
      button {
        width: 100%;
        font-size: 24px;
        max-width: 150px;
        background-color: $darkblue;
        color: aliceblue;
        border-radius: 15px;
        padding: 10px;
        &:hover {
          border: solid 2px black;
          cursor: pointer;
        }
      }
    }
  }
  .signupError {
    margin-top: 30px;
  }
}

.teamPage {
  display: flex;
  width: 100%;
  .teamContent {
    display: flex;
    width: 50%;
    height: 100%;
    .pitch {
      position: relative;
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 100%;
      height: 95%;
      margin: 5px;
      background: url('./assets/pitchImage.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
      background-position-y: center;
      background-attachment: initial;
      background-origin: initial;
      background-color: initial;
      padding: 10px;
      .teamStats {
        position: absolute;
        background-color: aliceblue;
        border-radius: 10px;
        top: 10px;
        right: 15px;
        width: 9vw;
        height: 9vh;
        display: flex;
        border: solid 2px $darkblue;
        justify-content: center;
        align-items: center;
        .statContent {
          color: $darkblue;
          display: flex;
          width: 100%;
          flex-direction: column;
          align-items: center;
          span {
            margin-top: 5px;
          }
          .goals {
            width: 60%;
            height: 20%;
            align-items: center;
            display: flex;
            justify-content: space-between;
            div {
              display: flex;
              height: 100%;
              align-items: center;
              svg {
              }
            }
          }
          .saveButton {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .error {
              border: solid 1px red;
              height: 30px;
              color: aliceblue;
              border-radius: 10px;
              background-color: $darkblue;
              width: 50%;
              user-select: none;
              &:hover {
                border: solid 2px black;
                cursor: pointer;
              }
            }
            .save {
              height: 30px;
              color: aliceblue;
              border-radius: 10px;
              background-color: $darkblue;
              width: 50%;
              &:hover {
                border: solid 2px black;
                cursor: pointer;
              }
            }
          }
        }
      }
      .goal {
        @extend .defense;
        justify-content: center !important;
        margin-top: 0 !important;
        .goalkeeper {
          @extend .defender;
        }
      }
      .defense {
        height: 19%;
        margin-top: 30px;
        width: 80%;
        max-width: 700px;
        align-self: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        margin-bottom: 10px;
        .defender {
          height: 100%;
          width: 18%;
          .position2 {
          }
        }
      }
      .midfield {
        @extend .defense;
        .midfielder {
          @extend .defender;
        }
      }
      .attack {
        @extend .defense;
        width: 42%;
        .attacker {
          @extend .defender;
          width: 35% !important;
        }
      }
      .delete {
        align-self: flex-end;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        visibility: hidden;
        svg {
          height: 70%;
          width: 70%;
          align-self: center;
        }
        &:hover {
          color: $darkblue;
        }
      }
      .card:hover .delete {
        visibility: visible;
      }
      .hoverDelete {
        &:hover {
        }
      }

      .emptyCard {
        background-image: linear-gradient(
          135deg,
          rgb(128, 128, 128),
          rgb(0, 0, 0) 90%
        );
        border-radius: 15px;
        border: grey 2px solid;
        .plusSign {
          justify-content: center;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          color: whitesmoke;
          svg {
            width: 50%;
            height: 50%;
            align-self: center;
          }
        }
      }
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(135deg, aliceblue 0%, #e8dcfa 100%);
        border-radius: 15px;
        border: $darkblue 2px solid;
        border-radius: 15px;
        width: 100px;
        position: relative;

        .cardBody {
          display: flex;
          width: 100%;
          height: 100%;
          border-radius: 15px;
          .playerLeft {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 2px;
            .position {
              align-self: center;
              padding: 2px;
              font-size: 26px;
              font-weight: bold;
              height: 25%;
            }
            .playerLogo {
              width: 100%;
              height: 100px;
              background-size: contain;
              background-repeat: no-repeat;
              align-self: center;
            }
            .statDiv {
              display: flex;
              flex-direction: column;
              height: 60%;
              span {
                align-content: center;
                font-size: 90%;
                width: 100%;
                vertical-align: middle;
                svg {
                  align-self: center;
                  margin-top: 2px;
                  margin-left: 2px;
                  width: 40%;
                }
              }
            }
          }
          .playerRight {
            width: 70%;
            .photo {
              margin-top: 2px;
              height: 95%;
              width: 95%;
              background-size: cover;
              background-repeat: no-repeat;
              background-position-x: center;
              background-position-y: center;
              background-attachment: initial;
              background-origin: initial;
              background-color: initial;
              border-radius: 15px;
            }
          }
        }
        .name {
          text-align: center;
          display: flex;
          justify-content: center;

          align-self: center;
          max-width: 100%;
          word-wrap: break-word;
          width: 100%;
          font-weight: bold;
          font-size: 0.9vw;
          background-color: aliceblue;
          border-radius: 15px;
          margin-top: 2px;
          border: solid 1px $darkblue;
          padding: 2px;
          margin-bottom: 5px;
          p {
            width: 100%;
            font-size: 1rem;
          }
        }
        &:hover {
          cursor: pointer;
          border: solid 2px lightskyblue;
        }
      }
    }
  }
}

.playerDisplay {
  height: 50%;
}
.playerContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  .playerCardDisplay {
    min-height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    .playerCard {
      display: flex;
      flex-direction: column;
      background-color: $darkblue;
      width: 85%;
      height: 90%;
      border-radius: 15px;
      padding: 5px;
      .name {
        height: 25%;
        width: 100%;
        margin-left: 5px;
        margin-top: 5px;
        display: flex;
        position: relative;
        h2 {
          max-width: 100%;
          display: inline-block;
          margin-top: 10px;
          color: aliceblue;
        }
        .titleImage {
          margin-top: 5px;
          width: 10%;
          display: inline;
          height: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position-x: center;
          background-position-y: center;
          background-attachment: initial;
          background-origin: initial;
          background-color: initial;
        }
        .titleDelete {
          position: absolute;
          right: 0;
          height: 100%;
          width: 10%;
          display: flex;
          justify-content: flex-end;
          margin-right: 10px;
          padding-right: 5px;
          svg {
            height: 80%;
            &:hover {
              color: aliceblue;
              cursor: pointer;
            }
          }
        }
      }
      .flex {
        display: flex;
        width: 100%;
        height: 100%;
        .statDiv {
          width: 70%;
          color: aliceblue;
          display: flex;
          padding-left: 5px;
          .left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          }
          .right {
            @extend .left;
          }
        }
        .pictureDiv {
          width: 50%;
          height: 95%;
          padding-top: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .image {
            height: 95%;
            width: 95%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-attachment: initial;
            background-origin: initial;
            background-color: initial;
          }
        }
      }
    }
  }
  .playerList {
    min-height: 55%;
    max-height: 95%;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    .listHeader {
      input {
        width: 100px;
      }
      span {
        width: 100px;
      }
    }
    .list {
      height: 50%;
      width: 100%;
    }
    .listHolder {
      display: flex;
      justify-content: center;
      min-height: 78%;
      max-height: 91%;

      ul {
        color: aliceblue;
        width: 98%;
        max-height: 100%;
        overflow-y: scroll;
        .listHeader {
          width: 100%;
        }
        li {
          margin: 0;
          background-color: $darkblue;
          border: solid 1px black;
          align-items: center;
          float: left;
          display: flex;
          justify-content: space-between;
          &:hover {
            cursor: pointer;
            border: solid 2px black;
          }
          div {
            width: 33%;
          }
          span {
            width: 100%;
            margin-right: 5px;
          }
          .teamImage {
            background-repeat: no-repeat;
            background-size: cover;
            height: 50px;
            width: 50px;
          }
        }
      }
    }
  }
}
.paginate {
  width: 80%;
  align-self: center;
  height: 5%;
  display: flex;
  justify-content: space-between;
  .emptyButton {
    color: aliceblue;
    background-color: lightslategray;
    &:hover {
      cursor: auto;
    }
  }
  button {
    height: 70%;
    width: 15%;
    border-radius: 10px;
    color: aliceblue;
    background-color: $darkblue;
    font-size: 16px;
    margin: 5px;
    justify-content: center;
    &:hover {
      cursor: pointer;
      border: solid 2px aliceblue;
    }
  }
}

.loginAlert {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    margin: 5px;
  }
  a {
    margin-left: 4px;
    color: $darkblue;
  }
}
.pageTitle {
  position: sticky;
  align-self: flex-start;
  top: 0;
  height: 40px;
  h1 {
    color: $darkblue;
  }
}

.fixtureList {
  width: 100%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  .fixtureItem {
    width: 98%;
    height: 22%;
    display: flex;
    border-radius: 10px;
    margin: 4px;
    border: solid 3px $darkblue;
    box-shadow: 4px 4px 4px $darkblue;
    .title {
      @extend .title;
      h2 {
        text-align: right;
      }
    }
    .center {
      width: 25%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding: 5px;
      .versus {
        height: 40%;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        h2 {
          font-size: 5vh;
          height: 100%;
        }
      }
      .matchInfo {
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        h2 {
          font-weight: normal;
        }
      }
    }
    .fixtureTeam {
      width: 37%;
      display: flex;
      height: 100%;
      .teamContent {
        width: 75%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .title {
          height: 100%;
          display: flex;
          justify-content: center;
          text-align: center;
          align-items: center;
          margin: 10px;
          font-weight: normal;
          font-size: 2vw;
          width: 100%;
        }
      }
      .logo {
        margin: 5px;
        height: 100%;
        width: 25%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-attachment: initial;
        background-origin: initial;
        background-color: initial;
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: $darkblue;
  width: 100%;
  height: 5vh;
  margin: 0;
  display: flex;
  justify-content: center;
  h2 {
    margin-top: 10px;
    color: aliceblue;
  }
}

.lastEntry {
  align-items: center;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  span {
    display: flex !important;
    align-items: center !important;
  }
  svg {
    margin-right: 5px;
  }
}
